/* ===========================
   Graduate Tailors Style.css
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#111;
    color:#fff;
    line-height:1.6;
}

/* Header */

header{
    width:100%;
    background:#000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    position:sticky;
    top:0;
    z-index:1000;
    border-bottom:2px solid gold;
}

.logo{
    font-size:34px;
    font-weight:bold;
}

.logo span{
    color:gold;
}

nav a{
    color:#fff;
    text-decoration:none;
    margin-left:25px;
    font-size:18px;
    transition:.3s;
}

nav
